<!DOCTYPE html>
<html>
    <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <title>ZOMBIES</title>
    </head>
    <body>
        <br>
        <div class="container-fluid">
                <div class="table-responsive">
                        <table class="table">
                                <tr>                
                                    <th style="border: 2px gray solid">Zombie</th>
                                    <th style="border: 2px gray solid">Tipo Arma</th>
                                    <th style="border: 2px gray solid">Nombre</th>
                                    <th style="border: 2px gray solid">Descripcion</th>
                                </tr>
                                <tr>
                                    <td style="border: 2px gray solid">Epico</td>                                   
                                    <td style="border: 2px gray solid">Escopeta</td>
                                    <td style="border: 2px gray solid">AA12</td>
                                    <td style="border: 2px gray solid">Potente a Corto Alcance</td>
                                </tr>
                                <tr>
                                    <td style="border: 2px gray solid">Raro</td>                                   
                                    <td style="border: 2px gray solid">Pistola</td>
                                    <td style="border: 2px gray solid">Arcus 98</td>
                                    <td style="border: 2px gray solid">Corto alcance</td>
                                </tr>
                                <tr>
                                    <td style="border: 2px gray solid">Especiales</td>                                   
                                    <td style="border: 2px gray solid">Fusil</td>
                                    <td style="border: 2px gray solid">M-14</td>
                                    <td style="border: 2px gray solid">Potente a Corto Alcance</td>
                                </tr>
                                <tr>
                                    <td style="border: 2px gray solid">Legendarios</td>                                   
                                    <td style="border: 2px gray solid">Rifle</td>
                                    <td style="border: 2px gray solid">Stoner Rifle</td>
                                    <td style="border: 2px gray solid">Uno contra uno</td>
                                </tr>
                                <tr>
                                    <td style="border: 2px gray solid">Poco comunes</td>                                   
                                    <td style="border: 2px gray solid">Rifle</td>
                                    <td style="border: 2px gray solid">MK14</td>
                                    <td style="border: 2px gray solid">Pesado per util</td>
                                </tr>
                                <tr>
                                    <td style="border: 2px gray solid">Miticos</td>                                   
                                    <td style="border: 2px gray solid">Fusil</td>
                                    <td style="border: 2px gray solid">Mp-40</td>
                                    <td style="border: 2px gray solid">Potente a Corto Alcance</td>
                                </tr>
                          
                        </table>
                      </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>