<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Victimas</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    </head>

    <body class="container">
        <h1>
            <h2>VICTIMAS</h2>
            <a href="/new-entry" class="btn btn-primary">
                AGREGAR
            </a>
        </h1>

    